body{
  background-image: linear-gradient(90deg, #3366cc, #ffffff);
}

#container {
  background-color: #3366cc;
  min-height: 200px;
  padding: 20px;
  border-width: 10px;
  border-style:inset;
  border-color: #003399;
  margin: 20px auto:
  width: 75%;
}

  header h1{
  color: white;
  text-align: center;
  font-family: 'Bevan', cursive;
  font-size: 120px;
}

nav ul{
  list-style: none;
  background-color: #669999;
  margin: -20px;
  text-align: center;
  padding: 0;
  font-size: 0;
}

nav li{
display: inline-block;
border-left: 5px solid white;
padding: 10px;
font-family: 'Chakra Petch', sans-serif;
font-size: 16px;

}
nav li:last-of-type{
  border-right: 5px  solid white;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

nav a:hover{
background-color: gray;
}
main img {width: 500px  }
#container1 {
  background-color: #3366cc;
  min-height: 200px;
  padding: 20px;
  border-width: 10px;
  border-style:inset;
  border-color: #003399;
  margin: 20px; float:right;
}
main::after {
    content: "";
    clear: both;
    display: table;
}
